name: Sync to Hugging Face
on:
  push:
    branches: [main] # or 'master' if your main branch is called master
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # REPLACE 'your-hf-username/your-space-name' below!
        run: git push https://your-hf-username:$HF_TOKEN@huggingface.co/spaces/your-hf-username/your-space-name main -f